src/main/mule/batch-processing-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="batch-processing-2Flow" doc:id="08e408ef-3491-430d-9be7-da7ea93f5c85" >
		<http:listener doc:name="Listener" doc:id="a6443f74-bc40-4e83-beda-87071c5971dd" config-ref="HTTP_Listener_config" path="/batch2"/>
		<db:select doc:name="Select" doc:id="bda83179-5319-4c22-891d-1bcc32e9b718" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from hu_training_table1]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8e7d46bb-300b-41c4-b656-dce17192de37" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batch-processing-2Batch_Job" doc:id="2f7aff08-a5dc-4155-bd5a-955fc9e53a2e" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="3b8a40a6-52df-4d5d-8b70-a0ccbfe3b9e9" >
					<db:insert doc:name="Insert" doc:id="e0cac1e9-58f1-47de-9cd6-f0b753745af8" config-ref="Database_Config">
						<db:sql ><![CDATA[insert into hu_training_table2 (id,name) values(:id,:name)]]></db:sql>
						<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
					</db:insert>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="9a47e3ac-9147-4e70-aa96-76ff4e079bc3" />
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="Transform Message" doc:id="0dc56c6c-c76d-4e64-88f7-88231cdd1f34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Batch Processing Done"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
