src/main/mule/batch-processing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="batch-processingFlow" doc:id="fd612a69-4888-469c-9e5d-95220fce725b" >
		<http:listener doc:name="Listener" doc:id="0ce189b9-1c76-4d30-b188-856eeab6aa95" config-ref="HTTP_Listener_config" path="/batch-processing"/>
		<set-payload value="#[[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]]" doc:name="Set Payload" doc:id="5fde1a7a-e3e2-4915-9bb0-93d5851407a0" />
		<batch:job jobName="batch-processingBatch_Job" doc:id="17d49dcd-ceb2-4fd8-b55a-e274f2dd4b81" maxFailedRecords="-1" blockSize="3">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="5a5795d8-45a2-4886-ab53-3b8dbf913083">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="ac2f0cbe-f43e-4e6c-8705-d9a7de8806dc" size="3">
						<logger level="INFO" doc:name="Logger" doc:id="88ffa221-0a35-418b-b1ce-b22645014a8c" message="#[payload]"/>
					</batch:aggregator>
					<logger level="INFO" doc:name="Logger" doc:id="cf57d761-df17-4c7b-a141-51b318fc9224" message="#[payload]"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="24230fe7-f645-4170-b3e1-562143aa4a74" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="9dd1cad8-a071-4e25-b821-098ded6dbc3e" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="Transform Message" doc:id="0cd4fee2-2fd8-4934-a337-572cad64092e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9a9e09ae-cc97-4b9b-a44a-4de49f5d2f72" message="#[payload]"/>
	</flow>
</mule>
